@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Fonts */
@font-face {
  font-family: "American Captain";
  src: url("/fonts/AmericanCaptain.ttf");
}
@font-face {
  font-family: "Silk Serif";
  src: url("/fonts/SilkSerif.ttf");
}

@layer base {
  /* Base Styles */
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-dark text-light font-secondary;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-primary;
  }
  p,a {
    @apply font-secondary;
  }
}