/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --background: #0a0a0a; /* Always black */
  --foreground: #ededed; /* Text color */
}

/* Custom font faces */
@font-face {
  font-family: "Silk Serif";
  src: url("/fonts/SilkSerif.ttf");
}

@font-face {
  font-family: "American Captain";
  src: url("/fonts/AmericanCaptain-MdEY.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Base styles */
@layer base {
  html {
    @apply scroll-smooth;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-primary;
  }

  p,
  a {
    @apply font-secondary;
  }
}

@layer utilities {
  .font-primary {
    font-family: 'Montserrat', sans-serif; /* Replace 'Montserrat' with your desired font */
  }

  .font-secondary {
    font-family: 'Nunito Sans', sans-serif; /* Replace 'Nunito Sans' with your desired font */
  }
}

body {
  color: var(--foreground);
  background: var(--background); /* Always black */
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: ''; /* Removes default Swiper arrow */
}

input:-webkit-autofill {
  background: transparent !important; /* Make the background transparent */
  color: #FFFFFF; /* Text color */
  transition: background-color 5000s ease-in-out 0s; /* Prevent background flash */
  -webkit-text-fill-color: #FFFFFF !important; /* Ensures consistent text color */
}

input:-webkit-autofill:focus {
  background: transparent !important; /* Transparent background when focused */
  -webkit-text-fill-color: #FFFFFF !important; /* Ensures consistent text color */
  border-color: #5C67E5; /* Matches focus border color */
}

input:-moz-autofill {
  background: transparent !important;
  color: #FFFFFF;
  -moz-text-fill-color: #FFFFFF !important;
}